local M = {}

M.base_30 = {
  white = "#!TEXT",
  black = "#!BG",
  darker_black = "#!DARKER",
  black2 = "#1d1d1d",
  one_bg = "#242424",
  one_bg2 = "#2b2b2b",
  one_bg3 = "#323232",
  grey = "#404040",
  grey_fg = "#4e4e4e",
  grey_fg2 = "#5c5c5c",
  light_grey = "#636363",
  red = "#!ACCENT",
  baby_pink = "#FF7EB6",
  pink = "#FF7EB6",
  line = "#2a2a2a",
  green = "#25be6a",
  vibrant_green = "#42BE65",
  nord_blue = "#78A9FF",
  blue = "#!PRIMARY",
  yellow = "#ffe731",
  sun = "#ffe731",
  purple = "#BE95FF",
  dark_purple = "#9B69D9",
  teal = "#33B1FF",
  orange = "#ffa332",
  cyan = "#3DDBD9",
  statusline_bg = "#!DARKER",
  lightbg = "#!LIGHT",
  pmenu_bg = "#!DARKER",
  folder_bg = "#!PRIMARY",
}

M.base_16 = {
  base00 = "#!BG",
  base01 = "#282737",
  base02 = "#!DARKER",
  base03 = "#383747",
  base04 = "#414050",
  base05 = "#!TEXT",
  base06 = "#ccd3e1",
  base07 = "#!TEXT",
  base08 = "#!ACCENT",
  base09 = "#F8BD96",
  base0A = "#FAE3B0",
  base0B = "#ABE9B3",
  base0C = "#89DCEB",
  base0D = "#89B4FA",
  base0E = "#CBA6F7",
  base0F = "#!PRIMARY",
}

M.polish_hl = {
  treesitter = {
    ["@keyword.return"] = { fg = M.base_30.red },
    ["@function"] = { fg = M.base_30.blue },
  },
}

M.type = "dark"

M = require("base46").override_theme(M, "cac")

return M
